#vlibras-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 200px; /* Ajuste a largura conforme necessário */
  height: 200px; /* Ajuste a altura conforme necessário */
  background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo para visibilidade */
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
